@function tint($color,$percentage)
    @return mix(white,$color,$percentage)

.main
    margin-left: 230px

.project-detail-bottom-nav
    display: none

.team-cards-container
    display: grid
    grid-gap: 1rem
    max-width: 1200px
    margin: 0 auto
    margin-left: 20px
    margin-right: 10px
    margin-top: 50px

@media screen and ( min-width: 600px )
    .team-cards-container
        grid-template-columns: repeat(2,1fr)
        margin-left: 0

@media screen and ( min-width: 1400px )
    .team-cards-container
        grid-template-columns: repeat(3,1fr)
        max-width: 1400px
        margin-left: 0

@media screen and ( min-width: 2000px )
    .team-cards-container
        grid-template-columns: repeat(4,1fr)
        max-width: 2000px
        margin-left: 0

@media screen and ( min-width: 3000px )
    .team-cards-container
        grid-template-columns: repeat(5,1fr)
        max-width: 3000px

@media screen and ( max-width: 600px )

    .project-detail-nav
        display: none
    .project-detail-bottom-nav
        display: flex
        z-index: 4000
    .features-text
        margin-bottom: 10px
    .main
        margin-left: 0

@media screen and ( max-width:200px  ) and (min-width:300px )
    .main

.overlay
    z-index: 1010
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: black
    opacity: 50%
    display: none

.add-member-container
    z-index: 4000
    position: fixed
    left: 0
    top: 0
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    display: none

.radar-invite
    display: flex

.second-charts-container
    display: flex
    flex-direction: row
