@function tint($color,$percentage)
    @return mix(white,$color,$percentage)

.graph-parent
    padding: 20px
    width: 85%
    background-color: white
    margin-left: 5%
    height: 200px
    border-radius: 10px
    margin-top: 25px
    display: flex
    flex-direction: row
    justify-content: space-evenly
    // background-image: url(https://i.stack.imgur.com/oM0m0.png)
    // background-position: center
    // background-size: cover
    box-shadow: 2px 2px 3px 3px tint(grey,50%)
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2)
    border-radius: 5px
    position: relative
    z-index: 1
    background: inherit
    overflow: hidden
    &::before

        content: ""
        position: absolute
        background: inherit
        z-index: -1
        top: 0
        left: 0
        right: 0
        bottom: 0
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5)
        filter: blur(10px)
        margin: -20px

.node
    padding: 4px
    height: 20%
    background-color: red
    transition: all
    transition-delay: 1s
    transition-duration: 1s
    align-self: flex-end
    animation: growLoad 1.5s ease-in-out
    border-radius: 10px

.base
    align-self: flex-end

.node1,.node4
    height: 30%
    background-color: tint(green,20%)

.node2,.node5
    height: 100%
    background-color: orange

.graph-title
    position: relative
    left: 0
    margin-left: 0
    margin-right: 20px
    width: 5%
    float: left
    display: flex
    flex-direction: column
    justify-content: space-evenly

@keyframes growLoad
    0%
        height: 0%

@media screen and ( max-width: 500px )
    .graph-parent
        height: 150px
        width: 80%

    .node
        padding: 2px
        border-radius: 5px

@media screen and ( min-width: 1500px )
    .graph-container
        margin-left: 20%
        margin-right: 20%
    .graph-parent
        height: 350px
